#wpcontent{
  padding-left: 0px !important;
}

.wrap{
  padding-left: 20px;
  padding-right: 20px;
}

.alert{
  margin: 20px;
}

.header-block{
  background-color: #DDE6FB;
  padding-top: 100px;
}

.dark .header-block{
  background-color: #242533;
}

.logo-block{
  margin-top: -8%;
}

.header-block h1{
  font-size: 44px;
  margin-left: 50px;
}
.header-block p{
  font-size: 22px;
  margin-left: 50px;
  width: 35%;
}

.text-blue-500\/5 {
  color: hsl(140.12deg 62.81% 29.6% / 5%);
}

.u-userColor{
  background-color: #3751e1;
}

.dark {
  --bg-color: #171823;
  --text-color: #9DA1AE;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.ngrok-local-url span{
  font-size: 55px;
  margin-left: 50px;
}

/* h2 headers */
h2 {
  color: #ffffff; /* White text for dark theme */
}

/* Headers */
.dark h1,
.dark h2 {
  color: #ffffff; /* White text for dark theme */
}

/* Theme toggle button */
#theme-toggle {
  background-color: #e5e7eb; /* Light background for the button */
  color: #1f2937; /* Dark text color */
}

.dark #theme-toggle {
  background-color: #4b5563; /* Dark background for the button */
  color: #ffffff; /* White text */
}

#theme-toggle:hover {
  background-color: #d1d5db; /* Light gray background on hover */
}

.dark #theme-toggle:hover {
  background-color: #6b7280; /* Dark background on hover */
}

/* Cards with background */
.bg-white {
  background-color: #ffffff; /* White background for cards */
  border-width: 1px solid #fbfbff;
}

.dark .bg-white {
  background-color: #242533; /* Dark background for cards */
  border-width: 1px solid #BEBEC2;
}

/* Card headers */
.bg-blue-600,
.bg-blue-400 {
  background-color: #2563eb; /* Blue background for cards */
}

.dark .bg-blue-600,
.dark .bg-blue-400 {
  background-color: #163881; /* Dark blue for dark theme */
}

/* Text */
.text-gray-700,
.text-gray-800 {
  color: #374151; /* Dark text */
}

.dark .text-gray-700,
.dark .text-gray-800 {
  color: #e5e7eb; /* Light text for dark theme */
}

.dark .text-gray-300 {
  color: #d1d5db; /* Light gray text for dark theme */
}

/* Input fields */
input {
  background-color: #ffffff; /* Light background for input fields */
  color: #1f2937; /* Dark text */
}

.dark input {
  background-color: #4b5563; /* Dark background for input fields */
  color: #ffffff; /* Light text for dark theme */
  border-color: #6b7280; /* Dark border */
}

/* General margins */
.p-6 {
  padding: 1.5rem; /* Padding for content */
}

.mb-4 {
  margin-bottom: 1rem; /* Bottom margin */
}

.mb-5 {
  margin-bottom: 1.25rem; /* Bottom margin */
}
